body{
  background-image: url(https://media.gettyimages.com/id/93453966/photo/rolling-dices.jpg?s=612x612&w=0&k=20&c=fCSqC9XomSLczbjQUCw2VyREfoJzbLhX_6tzVMJ1ggE=);
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
}
.container{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgba(129, 118, 118, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  opacity: 0.9; 
  
}
.heading{
  text-align: center;
  color: #1dd44b;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer p{
  text-align: center;
  margin-bottom: 40px;
  background: gray;
  font-size: 1rem;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
@media screen and (max-width: 768px){
  .container{
    padding: 10px;
    margin: 20px auto;
  }
  
}
@media screen and (max-width: 480px){
  .container{
    padding: 5px;
    margin: 10px auto;
  }
  
}
/* .form{
  margin-bottom: 20px;
}
.form input, .form select{
  width: calc(100% - 60px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.form button{
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.form button:hover{
  background-color: #218838;
} */